/* color palette from <https://github.com/vuejs/theme> */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vt-c-white: #f1faee;
  --vt-c-gray-900: #1d3557;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-gray-900);
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
